In [1]:
import pandas as pd
df_analise_consumo = pd.read_parquet("analise_consumo.parquet")
df_analise_consumo.head()

                        nm_produto ds_classe2  vl_total
0  Acem Lombinho Friboi Reserva Kg    Acougue     20.78
1        Acem Moida DeliCia A/S Kg    Acougue  19569.53
2     Acem S/O DeliCia A/S Peca Kg    Acougue   1931.24
3   Acem S/O DeliCia A/S Pedaco Kg    Acougue  24885.77
4       Agulha Ou Acem Com Osso Kg    Acougue    206.02

In [26]:
df_setor = df_analise_consumo[df_analise_consumo["ds_classe2"] == "Acougue"]
df_setor = df_setor.sort_values("vl_total",ascending=False).reset_index(drop=True)
df_filt = df_setor.iloc[:top_produtos]
produtos = df_filt["nm_produto"].to_list()
valores = df_filt["nm_produto"].to_list()
fig = go.Figure(go.Bar(
    y = produtos,
    x = valores,
        
    ))
fig.show()

                        nm_produto ds_classe2  vl_total
0  Acem Lombinho Friboi Reserva Kg    Acougue     20.78
1        Acem Moida DeliCia A/S Kg    Acougue  19569.53
2     Acem S/O DeliCia A/S Peca Kg    Acougue   1931.24
3   Acem S/O DeliCia A/S Pedaco Kg    Acougue  24885.77
4       Agulha Ou Acem Com Osso Kg    Acougue    206.02

In [29]:
df_acougue = df_acougue.sort_values("vl_total",ascending=False).reset_index(drop=True)
df_acougue.head()

                      nm_produto ds_classe2   vl_total
0       Coxao Mole Porcionado Kg    Acougue  190516.92
1  Alcatra Com Maminha Pedaco Kg    Acougue  149861.27
2          Alcatra Porcionada Kg    Acougue  116617.56
3        Contra File Com Osso Kg    Acougue  110878.39
4         Costela Bovina Resf.Kg    Acougue   97984.46

In [28]:
df_ord["nm_produto"][0]

'Coxao Mole Porcionado Kg'

In [3]:
df_setores = df_setores.reset_index()
df_setores.columns = ["ds_classe2","vl_total"]
df_setores.head()

                    ds_classe2    vl_total
0                      Limpeza  3428945.29
1                  Seca Pesada  2909269.30
2                Bebidas Frias  2635628.02
3  Perfumaria/Higiene E Beleza  2598030.31
4                    Seca Leve  2420431.66

In [5]:
df_setores.head(7)["ds_classe2"].to_list()

['Limpeza',
 'Seca Pesada',
 'Bebidas Frias',
 'Perfumaria/Higiene E Beleza',
 'Seca Leve',
 'Acougue',
 'Seca Doce']